.jumbotron{
  background-color:transparent
}


.square {
  height: 70px;
  width: 70px;
  background-color: lightgrey;
  text-align: center;
  font-size: 45px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white
}

.square.grass{
  background-image: url("grass.png");
  background-size: 70px
}

.square.grass.friendly{
  background-image: url("grass_yours.png");
  background-size: 70px
}

.square.grass.hostile{
  background-image: url("grass_hostile.png");
  background-size: 70px
}

.square.water{
  background-image: url("water.jpg");
  background-size: 70px;
}

.square.grass.bomb{
  background-image: url("grass_bomb.png");
  background-size: 70px;
}

.square.grass.flag{
  background-image: url("grass_flag.png");
  background-size: 70px;
}

.board {
  margin-top: 100px
}

body{
  background-image: url("contour-map.png");
  background-size: 2000px;
}

.btn{
  width: 300px;
  background-color: goldenrod;
  border-color: white;
  font-weight: bold;
}

input{
  text-align:center;
}

.parchment{
  background-image: url("parchment.png");
  background-size: 100%
}

.parchmenttext{
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  font-size: 18px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
